<div class="menu_left">
    <div class="menu_profile">
        <div class="menu_profile_img">
            <a href="Profile.php"><img src="Pictures/unknowprofile.png" height="50" width="50"/></a>
        </div>
        <h1 class="menu_identifiant">{{name}}</h1>
    </div>
    <div class="menu_navigation">
        <ul>
            <li><a href="Profile.php">Profile</a></li>
            <li><a href="NoteFrais.php">Notes de frais</a></li>
            <li><a href="Statistique">Mes Statistiques</a></li>
            {{gestionnaire}}
        </ul>
    </div>
    <div class="menu_deconnexion">
        <a href="Deconnexion.php">Déconnexion</a>
    </div>
</div>